.font-CutiveMono {
  font-family: "Cutive Mono", sans-serif;
}
.font-DancingScript {
  font-family: "Dancing Script", sans-serif;
}
.font-DMSerifDisplay {
  font-family: "DM Serif Display", sans-serif;
}
.font-OpenSans {
  font-family: "Open Sans", sans-serif;
}
.font-Pacifico {
  font-family: "Pacifico", sans-serif;
}
.font-Quicksand {
  font-family: "Quicksand", sans-serif;
}
.font-Roboto {
  font-family: "Roboto", sans-serif;
}
.font-RubikMonoOne {
  font-family: "Rubik Mono One", sans-serif;
}
.font-ZillaSlab {
  font-family: "Zilla Slab", sans-serif;
}
